
h1 {
  color: red;
  font-family: fantasy;
  font-size: 50px;
  margin-left: 42%;
}

button {
  position: relative;
  left: 48%;
  font-size: 100%;
  margin-bottom: 20px;
}

.container {
  width: 610px;
  height: 600px;
  margin-left: 30%;
}
.box {
  display: relative;
  display: inline-block;
  cursor: pointer;
  float:left;
  width: 200px;
  height: 200px;
  border: 1px dashed black;
}

.x {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('http://www.clker.com/cliparts/e/0/f/4/12428125621652493290X_mark_18x18_02.svg.hi.png');
}

.o {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('http://www.clker.com/cliparts/0/3/0/b/11970891241590339371vermeil_Electronic_Circuit_Node_Symbol.svg.med.png');
}
