h1 {
  text-align: center;
  color: rgb(6, 24, 252);
  font-size: 50px;
}

button {
  position:relative;
  left: 47%;
  margin-bottom: 20px;
}

#message {
  position:relative;
  left: 47%;
}

.container {
  width: 160px;
  height: 150px;
  margin: 0 auto;
}

div div {
  width: 50px;
  height: 50px;
  background-color: rgb(146, 141, 231);
  border: 1px dashed black;
  float: left;
}

div.hover {
  background-color: red;
}

.x {
  background-image: url(http://www.clker.com/cliparts/a/6/e/8/119498563188281957tasto_8_architetto_franc_01.svg.med.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.o {
  background-image: url(http://www.clker.com/cliparts/b/3/0/7/11954426561357627999ryanlerch_Simple_round_sign.svg.med.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
